@charset "utf-8";

button{ color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: "monospace";
background-color: #ff5100;
}
button{display: flex;flex-flow: column; margin: 15px;}

h6{text-align: right; color: #00bfff}
